.carrossel__titulo {
    text-align: center;
    text-transform: uppercase;
    color: var(--cor-laranja);
    font-size: 1.12rem;
    font-weight: 700;
    margin: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;

}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;

}

.card_botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;

}

.card {
    background: var(--cor-branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao__titulo {
    color: var(--cor-laranja);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--cor-azul-titulo);
    font-size: 1.12rem;
    font-weight: 700;
    margin: 1em 0;

}

.descricao__titulo-texto {
    color: black;
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 21px;
    padding-right: 2em;

}

.botoes__item {
    margin: 0 0.5em;
}

.botoes__ancora {
    font-weight: 700;
    color: var(--cor-branco);
    padding: 1em 2.1em;
    background-color: var(--cor-laranja);
}


@media (min-width: 1024px) {



    .carrossel {
        text-align: center;
    }

    .carrossel__titulo {
        background-color: var(--cor-branco);
        margin: 0px;
        height: 106px;
        font-size: 1.62rem;
        padding-top: 50px;


    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper-slide img {
        width: 60%;

    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }

    .card{
        margin: 2em auto;
        width: 40%;
    }

}



@media (min-width:1728px ) {

    .carrossel__container{
        display: flex;
        width: 1342px;
        
        margin: 0 auto;
    }
    
    .swiper-backface-hidden{
        width: 745px;
        
        
    }

    .swiper-slide img {
        margin-bottom: 3em;

    }

    .card{
        width: 588px;
    }

}