.roda-pe{
    
    background-color: var(--cor-branco);
    padding: 1.8em 1.5em;
    text-align: center;
    border-top: 1px solid var(--cor-cinza-borda);
}



@media (min-width: 1024px) {

    .roda-pe{
        display: block;
    }

}