.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.container__imagem {
    padding: 1em;
}

.cabecalho__menu-hamburguer {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../assets/Menu.svg);

}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0.5px;
    width: 60vw;



}

.container__botao {
    display: none;

}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo {
    color: var(--cor-laranja);
    font-weight: 700;

}

.lista-menu__item__link {
    background: var(--cor-azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 400;


}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-branco);
}