.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.container {
    
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.container__imagem {
    padding: 1em;
}

.cabecalho__menu-hamburguer {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../assets/Menu.svg);

}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0.1px;


}

.container__botao {
    display: none;

}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo {
    color: var(--cor-laranja);
    font-weight: 700;

}

.lista-menu__item__link {
    background: var(--cor-azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 400;


}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-branco);
}

.container__titulo, .opcoes{
    display: none;
}

@media (min-width: 1024px) {
    
    .container__titulo{
        display: block;
        font-weight: 400;
        font-size: 1.87rem;
    }

    .container__titulo--negrito{
        font-size: 1.87rrem;
        font-weight: 700;
    }

    .opcoes{
        display: flex;
        
        
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
        
        
    }

    .opcoes__link{
        color: var(--preto);
    }

    .imagem__favorito, .cabecalho__menu-hamburguer{
        display: none;
    }

    
    
    .opcoes__botao:checked~.lista-menu{
        display: block;
    }

    .opcoes__botao{
        display: none;
    }
    .lista-menu{
        left: none;
        
        width:179px ;
    }

    

    

    
}


@media (min-width:1728px ) {

    .cabecalho{
        padding:0px 80px ;
    }

    .opcoes{
        position: relative;
        right: 20%;
    }


}