.topicos {
    background: var(--cor-azul-gradiente);
    padding: 1em;

}

.topicos__titulo {
    color: var(--cor-branco);
    font-weight: 300;
    text-align: center;
    margin: 0.75em 0;

}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;




}

.topicos__item {
    background-color: var(--cor-laranja);
    padding: 1em;
    margin: 0.5em;

}

.topicos__link {
    color: var(--cor-branco);
}

@media (min-width: 1024px) {

   
    .topicos__titulo {
        font-size: 1.5rem;
    }

    .topicos__link{
        font-size: 1.5rem;
    }

}


    

    @media (min-width: 1728px){

        .topicos {
            height: 418px;
            padding: 3em 40em;
        
        }

        .topicos__titulo {
            font-size: 2rem;
        }

    }